body{
    background-color: #d3cfe3;
}
form{
    margin-left: 100px;
    margin-top: 20px;
}

#Label1{
    font-family: Calibri;
    font-size: 30px;
    margin-left: 100px;
}

.label{
    position: absolute;
    font-family: Calibri;
    font-size: 20px;
}

.tbox{
    margin-left: 120px;
    display: inline-block;
    height: 25px;
    width: 250px;
    outline: none;
    background-color: #F8F8F8;
    border: solid;
    border-color: #F8F8F8;
    border-width: 2px;
}

#LabelMessage{
    position: relative;
    left: 150px;
    font-size: 20px;
}

#Msg{
    position: relative;
    left: 60px;
    font-size: 18px;
    font-family: Calibri;
    height: 150px;
}

#fileUp{
    position: relative;
    left: 100px;
    padding-bottom: 10px;
}

#bSend{
    position: relative;
    left: 170px;
    background-color: purple;
    height: 30px;
    border-color: lightgreen;
    color: lightgrey;
}